body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #B7966B;
    color: rgb(75, 52, 26);
}

.header {
    text-align: center;
    margin: 30px;
}

.profile {
    width: 180px;
    border-radius: 50%;
}

.highlight {
    color: rgb(255, 255, 255);
}

.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.7);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th:hover {

}

th {
    background-color:  rgb(75, 52, 26);
    color: white;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: rgb(247, 247, 247);
}